# Methods
public-f net.minecraft.world.entity.Entity m_20185_()D # getX
public-f net.minecraft.world.entity.Entity m_20186_()D # getY
public-f net.minecraft.world.entity.Entity m_20189_()D # getZ

public-f net.minecraft.world.level.storage.loot.LootPool f_79023_

public net.minecraft.client.renderer.GameRenderer m_109141_(Lnet/minecraft/client/Camera;FZ)D # getFov