# Methods
public net.minecraft.world.entity.projectile.Projectile <init>(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/level/Level;)V
public net.minecraft.world.level.block.entity.BlockEntityType <init>(Lnet/minecraft/world/level/block/entity/BlockEntityType$BlockEntitySupplier;Ljava/util/Set;)V

public-f net.minecraft.world.entity.Entity m_20185_()D # getX
public-f net.minecraft.world.entity.Entity m_20186_()D # getY
public-f net.minecraft.world.entity.Entity m_20189_()D # getZ

# Classes
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
public net.minecraft.world.inventory.MenuType$MenuSupplier
public net.minecraft.advancements.critereon.EntitySubPredicate$Types

# Fields

public-f net.minecraft.world.level.storage.loot.LootPool f_79023_ # entries
public-f net.minecraft.advancements.critereon.EntitySubPredicate$Types f_218854_ # TYPES
public net.minecraft.world.entity.item.FallingBlockEntity blockState